{% extends 'base.html' %}


{% load crispy_forms_tags %}

{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">


<div class="container-fluid">
  <!-- Page heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
    <h1 class="h3 mb-0 text-gray-800 "> Change Password </h1>
  </div>
  <!-- Outer Row -->


  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">

        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Change Password </h1>
              <p class="mb-4"></p>
            </div>
            <form class="user" method="POST">
              {% csrf_token %}
              {{form | crispy }}

              <button type="submit" class="btn btn-sccess btn-block"> Change </button>
            </form>
            <hr>

            <div class="text-center">
              <a class="small" href="{% url 'home' %}"> back </a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>

</div>




</html>
{% endblock content %}